*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

html {
    font-family: 'Helvetica', sans-serif;
}

h1 {
    font-size: 5.7rem;
}

h3 {
    font-size: 1rem;
}

p {
    font-size: .8rem;
}

body {
    background-image: url('../images/groovepaper.png');
    background-repeat: repeat;
}

header {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    z-index: -1;

}


.pretty-button {
background-color: transparent;
border: 1px solid black;
border-radius: 8px;
box-shadow: rgba(213, 217, 217, .5) 0 2px 5px 0;
box-sizing: border-box;
color: #0f1111;
cursor: pointer;
display: inline-block;
font-size: 13px;
line-height: 29px;
padding: 0 10px 0 11px;
position: relative;
text-align: center;
text-decoration: none;
user-select: none;
-webkit-user-select: none;
vertical-align: middle;
width: 150px;
}

.pretty-button:hover {
    transform: scale(1.1);
}

#header-text {
    text-align: center;
}

.main-div {
    margin-top: 17rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin-bottom: 100px;

}

.book-div {
    width: 75%;
    height: 95dvh;
}

/*left-1*/

.left-book-1 {
    display: grid;
    grid-template-columns: repeat(31, 1fr);
    grid-template-rows: repeat(31, 1fr);
    overflow: hidden;
}

.left-book-top-1 {
    grid-column: 1 / 32;
    grid-row: 1/16;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(17, 1fr);
    background-color: #5398FF;
}

.left-book-id-1 {
    color: #ECE0D1;
    grid-column: 4 / 6;
    grid-row: 11 / 16;
}

.left-book-cover-1 {
    grid-column: 9 / 18;
    grid-row: 3 / 14;

}


.left-book-bottom-1 {
    grid-column: 1 / 32;
    grid-row: 15/32;
    display: flex;
    flex-flow: column;
    gap: 5px;
    background-color: #ECE0D1;
    padding: 10px;
}

.left-info-and-about-1 {
    display: flex;
    flex-flow: column;
    gap: 5px;
}

/*right-1*/

.left-book-cover-1 {
    width: 100%;
    object-fit: cover;
}

.right-book-1 {
    display: grid;
    grid-template-columns: repeat(31, 1fr);
    grid-template-rows: repeat(31, 1fr);
    overflow: hidden;
}

.right-book-top-1 {
    grid-column: 1 / 32;
    grid-row: 1/16;
    display: grid;
    grid-template-columns: repeat(17, 1fr);
    grid-template-rows: repeat(17, 1fr);
    background-color: #5398FF;
}

.right-book-id-1 {
    color: #ECE0D1;
    grid-column: 12 / 14;
    grid-row: 11 / 16;
}

.right-book-cover-1 {
    grid-column: 1 / 10;
    grid-row: 3 / 14;

}


.right-book-bottom-1 {
    grid-column: 1 / 32;
    grid-row: 15/32;
    display: flex;
    flex-flow: column;
    gap: 5px;
    background-color: #ECE0D1;
    padding: 10px;
}

.right-info-and-about-1 {
    display: flex;
    flex-flow: column;
    gap: 5px;
}

/*left-2*/

.left-book-2 {
    background-color: #ECE0D1;
    height: 90dvh;
    overflow: hidden;
}

.left-book-id-2 {
    text-align: right;
    padding: 15px;
    position: relative;
    top: 350px;

}

.left-book-cover-2 {
    height: 100dvh;
    position: relative;
    top: -110px;
    left: -125px;
    rotate: -26deg;

}

.left-book-bottom-2 {
    display: flex;
    flex-flow: column;
    align-items: end;
    padding: 15px;
    position: relative;
    bottom: 800px;
}

.left-title-2 {
    text-align: right;
    width: 100%;
}

.left-info-and-about-2 {
    display: flex;
    flex-flow: column;
    align-items: end;
    text-align: right;
    max-height: 260px;
    width: 100%;
    overflow: hidden;
}

.left-about-2 {
    text-align: right;
    width: 50%;
}

/*right-2*/

.right-book-2 {
    background-color: #ECE0D1;
    height: 90dvh;
    overflow: hidden;
}

.right-book-id-2 {
    text-align: right;
    padding: 15px;
    position: relative;
    top: 350px;

}

.right-book-cover-2 {
    height: 100dvh;
    position: relative;
    top: -110px;
    left: -125px;
    rotate: -26deg;

}

.right-book-bottom-2 {
    display: flex;
    flex-flow: column;
    align-items: end;
    padding: 15px;
    position: relative;
    bottom: 800px;
    /* width: 50%; */
}

.right-title-2 {
    text-align: right;
    width: 100%;
}

.right-info-and-about-2 {
    display: flex;
    flex-flow: column;
    align-items: end;
    text-align: right;
    max-height: 260px;
    width: 100%;
    overflow: hidden;
}

.right-about-2 {
    height: max-content;
    text-align: right;
    width: 50%;
}


@media (min-width: 660px) {
    p {
        font-size: 1.5rem;
    }

    .left-book-id-2, .right-book-id-2 {
        top: 400px;
    }

    .main-div {
        margin-top: 13rem;
    }
}
